section.compose-wrapper
  div.compose.display
    form(action="MAILTO:halltreworgy.james@gmail.com" method="post" enctype="text/plain").compose-heading
      h2 New Message
      i(class="fa fa-times",aria-hidden="true")
    div.compose-to
