*
  margin: 0
  padding: 0
  font-family: 'Opens Sans', sans-serif

body
  overflow-x: hidden

// 1-base
@import '1-base/vars'

// 2-partials
@import '2-partials/header'
@import '2-partials/mail'
@import '2-partials/compose'

// 3-views
@import '3-views/mail-view'
